.main_who_job_section {
    background-color: #E9ECF3;
    border-radius: 0 0 20px 20px;
}

.main_who_job {

    margin-top: 80px;
    margin-bottom: 80px;

    h2 {
        margin-bottom: 60px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .card {
            border-radius: 20px;
            background-color: #FFF;
            height: fit-content;

            img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 60%;
                border-radius: 20px 20px 0 0;
            }

            .top_cont_title {

                .cont {
                    padding-bottom: 0;
                }
            }

            .cont {
                padding: 20px 40px;

                h3 {
                    font-family: Cygre SemiBold;
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 42px;
                    text-align: left;
                    margin-bottom: 10px;
                }

                .prof {
                    font-family: Cygre;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25.2px;
                    text-align: left;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #D6D9E0;
                }

                h4 {
                    font-family: Cygre;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 25.2px;
                    text-align: left;
                    margin: 20px 0;
                    margin-top: 0;
                }

                .docs {
                    display: flex;
                    gap: 20px;
                    flex-wrap: wrap;

                    a {
                        width: 56px;
                        height: 80px;
                        cursor: pointer;
                        position: relative;


                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }

                        .dop_text {
                            opacity: 0;
                            visibility: hidden;
                            top: 20%;
                            transition: .5s;
                        }
                    }

                    a:hover {

                        .dop_text {
                            opacity: 1;
                            visibility: visible;
                            top: 0;
                            transition: .5s;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1290px) {
    .main_who_job .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .main_who_job .grid {
        display: flex;
        flex-direction: column;
    }

    .main_who_job h2 {
        margin-bottom: 20px;
    }

    .main_who_job .grid .card .top_cont_title .cont {
        padding: 10px 10px 0;
    }

    .main_who_job .grid .card .cont {
        padding: 10px;
    }
}

@media (max-width: 470px) {
    .main_who_job {
        margin-top: 40px;
        margin-bottom: 40px;

        .top_cont_title {
            display: flex;
            gap: 20px;
            align-items: center;
            border-bottom: 0.6px solid #D6D9E0;
            padding-bottom: 10px;
        }
    }

    .main_who_job .grid .card img {
        width: 110px;
        height: 101px;
        border-radius: 10px;
    }

    .main_who_job .grid .card {
        padding: 10px;
    }

    .main_who_job .grid .card .top_cont_title .cont {
        padding: 0;
    }

    .main_who_job .grid .card .cont h3 {
        font-family: Cygre SemiBold;
        font-size: 18px;
        font-weight: 600;
        line-height: 25.2px;
        text-align: left;
    }

    .main_who_job .grid .card .cont .prof {
        padding: 0;
        border: none;
    }

    .main_who_job .grid .card .cont h4 {
        font-family: Cygre Medium;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        text-align: left;
        margin-bottom: 10px;
    }
}