@font-face {
	font-family: 'Cygre Bold';
	src: 
		url('tilda-sans_semibold.woff2') format('woff2'),
		url('tilda-sans_semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cygre Medium';
	src: 
		url('tilda-sans_medium.woff2') format('woff2'),
		url('tilda-sans_medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cygre SemiBold';
	src: 
		url('tilda-sans_semibold.woff2') format('woff2'),
		url('tilda-sans_semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cygre';
	src: 
		url('tilda-sans_regular.woff2') format('woff2'),
		url('tilda-sans_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}